/traditional_solution/data/raw/*.csv
/traditional_solution/data/processed/*.pkl
/traditional_solution/feat/*.pkl
/traditional_solution/output/*.pkl
.DS_Store
*Untitled.ipynb
*.ipynb_checkpoints
*__pycache__/
*.csv
*.pkl
*.npy
